<tr hx-target="this" hx-swap="outerHTML" id="site-config-<%= scrape_config.id %>-edit">
  <form hx-post="/app/<%= scrape_config.id %>">
    <td>
      <input type="text" name="url" value="<%= scrape_config.url %>" />
    </td>
    <td>
      <%= scrape_config.extraction_selectors.length %>
    </td>
    <td>
      <input type="hidden" name="active" value="false" />
      <input type="checkbox" name="active" <%= "checked" if scrape_config.active %>>
    </td>
    <td>
      <button hx-get="/app/<%= scrape_config.id %>">Cancel</button>
      <button type="submit">Save</button>
    </td>
  </form>
</tr>
