<tr hx-target="this" hx-swap="outerHTML" id="site-config-<%= scrape_config.id %>">
  <td>
    <%= scrape_config.url %>
  </td>
  <td>
    <%= scrape_config.extraction_selectors.length %>
  </td>
  <td>
    <%= "IN" unless scrape_config.active %>ACTIVE
  </td>
  <td>
    <button hx-get="/app/<%= scrape_config.id %>/edit">Edit</button>
  </td>
</tr>
