<% content_for :head do %>
  <script>
  function addButton() {
    return {
      add(ev) {
        ev.preventDefault()
        const $el = this.$el

        const clone = $el.parentNode.querySelector("span").cloneNode(true)
        clone.querySelector("input").value = ""

        $el.parentNode.insertBefore(clone, $el)
      }
    }
  }

  function removeButton() {
    return {
      remove(ev) {
        ev.preventDefault()
        this.$el.remove()
      }
    }
  }
  </script>
<% end %>

<h3>Editing Scrape Config <%= @scrape_config.id %></h3>

<form action="/scrape_config/<%= @scrape_config.id %>" method="post">
  <fieldset>
    <legend>Basics</legend>
    <input type="text" name="url" value="<%= @scrape_config.url %>" />

    <input type="hidden" name="active" value="false" />
    <label for="active">
      <input type="checkbox" name="active" <%= "checked" if @scrape_config.active %>>
      Active?
    </label>
  </fieldset>

  <fieldset>
    <legend>Extractions</legend>
    <% @scrape_config.extraction_selectors.each_with_index do |selector, idx| %>
      <span style="display: flex" x-data="removeButton()">
        <input type="text" name="extraction_selectors[]" value="<%= selector %>" />
        <button @click="remove">X</button>
      </span>
    <% end %>

    <button x-data="addButton()" @click="add">Add</button>
  </fieldset>

  <span style="display: flex; justify-content: space-between; align-items: baseline;">
    <a href="/">Cancel</a>
    <button type="submit">Save</button>
  </span>
</form>
